# <center> MATH 104B - Homework 3 
#### <center>By Emily Lu (Perm ID: 4707147)

(Section 5.4)

2\.  Use the Modified Euler method to approximate the solutions to each of the following initial-value problems and compare the results to the actual values.

In [1]:
from math import*
import pandas as pd 

def actual(a, h, N):
    t = a 
    solutions = []
    for i in range(N+1):
        solutions.append(y(t))
        t = t + h      
    return solutions 

def modifiedEuler(a, b, N, alpha):
    h = (b-a)/N
    t = a
    w = alpha 
    solutions = [w]
    for i in range(N):
        t1 = t + h
        w = w + h/2*(f(t, w) + f(t1, w+h*f(t,w)))        
        t += h
        solutions.append(w)
    return solutions

def t_i(a, h, N):
    t = a
    lst = [a]
    for i in range(N):
        t = t + h 
        lst.append(t)
    return lst

$\;\;\;\;$ b. $y' = \frac{1+t}{1+y}, \; 1\leq t \leq 2, \; y(1)=2,$ with $h=0.5$; actual solution $y(t) = \sqrt{t^2+2t+6}-1$.

In [2]:
y = lambda t: (t**2 + 2*t + 6)**(1/2) - 1        

def f(t, y):
    return (1+t)/(1+y)


data = {'t_i':t_i(1, 0.5, 2),
        'w_i (approx. values)':modifiedEuler(1, 2, 2, 2), 
       'y[t_i] (exact values)':actual(1, 0.5, 2)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

   t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0  1.0              2.000000               2.000000      0.000000
1  1.5              2.354167               2.354102      0.000065
2  2.0              2.741745               2.741657      0.000088

$\;\;\;\;$ c\. $y' = -y+ty^{1/2}, \; 2\leq t \leq 3, \; y(2)=2,$ with $h=0.25$; actual solution $y(t) = (t-2+\sqrt{2}ee^{-t/2})^2$.

In [3]:
y = lambda t: (t-2+2**(1/2)*e*e**(-t/2))**2

def f(t, y):
    return -y+t*y**(1/2)

data = {'t_i':t_i(2, 0.25, 4),
        'w_i (approx. values)':modifiedEuler(2, 3, 4, 2), 
       'y[t_i] (exact values)':actual(2, 0.25, 4)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0  2.00              2.000000               2.000000  4.440892e-16
1  2.25              2.245499               2.244121  1.378344e-03
2  2.50              2.567156               2.564452  2.704017e-03
3  2.75              2.969195               2.965194  4.000684e-03
4  3.00              3.456568               3.451287  5.281770e-03

$\;\;\;\;$ d\. $y' =t^{-2}(\sin 2t -2ty), \; 1\leq t\leq 2, \; y(1)=2,$ with $h=0.25$; actual solutions $y(t) = \frac{4+\cos 2 - \cos 2t}{2t^2}.$

In [4]:
def f(t,y):
    return t**(-2)*(sin(2*t) - 2*t*y)

y = lambda t: (4+cos(2)-cos(2*t))/(2*(t**2))

data = {'t_i':t_i(1, 0.25, 4),
        'w_i (approx. values)':modifiedEuler(1, 2, 4, 2), 
       'y[t_i] (exact values)':actual(1, 0.25, 4)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0  1.00              2.000000               2.000000      0.000000
1  1.25              1.416075               1.403199      0.012876
2  1.50              1.031011               1.016410      0.014601
3  1.75              0.752267               0.738010      0.014257
4  2.00              0.543245               0.529687      0.013558

3\. Use the Modified Euler method to approximate the solutions to each of the following initial-value problems and compare the results to the actual values.

$\;\;\;\;$ a. $y' = y/t - (y/t)^2, \; 1\leq t \leq 2, \; y(1)=1,$ with $h=0.1$; actual solution $y(t) = t/(1+\ln t)$.

In [5]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':modifiedEuler(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000      0.000000
1   1.1              1.004132               1.004282      0.000149
2   1.2              1.014714               1.014952      0.000239
3   1.3              1.029520               1.029814      0.000294
4   1.4              1.047204               1.047534      0.000330
5   1.5              1.066909               1.067262      0.000353
6   1.6              1.088064               1.088433      0.000369
7   1.7              1.110275               1.110655      0.000380
8   1.8              1.133266               1.133654      0.000388
9   1.9              1.156835               1.157228      0.000394
10  2.0              1.180834               1.181232      0.000398

$\;\;\;\;$ b. $y' = 1+ y/t + (y/t)^2, \; 1\leq t \leq 3, \; y(1)=0,$ with $h=0.2$; actual solution $y(t) = t\tan(\ln t)$.

In [6]:
y = lambda t: t*tan(log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':modifiedEuler(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000      0.000000
1   1.2              0.219444               0.221243      0.001798
2   1.4              0.485049               0.489682      0.004632
3   1.6              0.804012               0.812753      0.008741
4   1.8              1.184856               1.199439      0.014583
5   2.0              1.638423               1.661282      0.022859
6   2.2              2.178877               2.213502      0.034625
7   2.4              2.825065               2.876551      0.051486
8   2.6              3.602525               3.678475      0.075951
9   2.8              4.546614               4.658665      0.112052
10  3.0              5.707570               5.874100      0.166530

7\. Repeat Exercise 3 using the Midpoint method.

In [7]:
def midPoint(a, b, N, alpha):
    h = (b-a)/N
    t = a
    w = alpha 
    solutions = [w]
    for i in range(N):
        w = w + h*f(t+h/2, w+h/2*f(t, w))     
        t += h
        solutions.append(w)
    return solutions

$\;\;\;\;$ a. $y' = y/t - (y/t)^2, \; 1\leq t \leq 2, \; y(1)=1,$ with $h=0.1$; actual solution $y(t) = t/(1+\ln t)$.

In [8]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':midPoint(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000      0.000000
1   1.1              1.004535               1.004282      0.000253
2   1.2              1.015326               1.014952      0.000373
3   1.3              1.030247               1.029814      0.000433
4   1.4              1.047998               1.047534      0.000464
5   1.5              1.067743               1.067262      0.000480
6   1.6              1.088921               1.088433      0.000489
7   1.7              1.111148               1.110655      0.000493
8   1.8              1.134148               1.133654      0.000495
9   1.9              1.157724               1.157228      0.000495
10  2.0              1.181727               1.181232      0.000495

$\;\;\;\;$ b. $y' = 1+ y/t + (y/t)^2, \; 1\leq t \leq 3, \; y(1)=0,$ with $h=0.2$; actual solution $y(t) = t\tan(\ln t)$.

In [9]:
import numpy as np 

y = lambda t: t*tan(np.log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':midPoint(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000      0.000000
1   1.2              0.219835               0.221243      0.001408
2   1.4              0.486177               0.489682      0.003505
3   1.6              0.806185               0.812753      0.006568
4   1.8              1.188439               1.199439      0.010999
5   2.0              1.643889               1.661282      0.017393
6   2.2              2.186861               2.213502      0.026641
7   2.4              2.836436               2.876551      0.040116
8   2.6              3.618493               3.678475      0.059983
9   2.8              4.568894               4.658665      0.089771
10  3.0              5.738647               5.874100      0.135453

11\. Repeat Exercise 3 using Heun's method.

In [10]:
def Huen(a, b, N, alpha):
    h = (b-a)/N
    t = a
    w = alpha 
    solutions = [w]
    for i in range(N):
        w = w + h/4*(f(t, w) + 3*(f(t+2*h/3, w+2*h/3*f(t+h/3, w+h/3*f(t, w)))))    
        t += h
        solutions.append(w)
    return solutions

$\;\;\;\;$ a. $y' = y/t - (y/t)^2, \; 1\leq t \leq 2, \; y(1)=1,$ with $h=0.1$; actual solution $y(t) = t/(1+\ln t)$.

In [11]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':Huen(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000      0.000000
1   1.1              1.004266               1.004282      0.000016
2   1.2              1.014930               1.014952      0.000022
3   1.3              1.029789               1.029814      0.000024
4   1.4              1.047508               1.047534      0.000026
5   1.5              1.067236               1.067262      0.000026
6   1.6              1.088407               1.088433      0.000026
7   1.7              1.110629               1.110655      0.000026
8   1.8              1.133628               1.133654      0.000026
9   1.9              1.157203               1.157228      0.000026
10  2.0              1.181206               1.181232      0.000026

$\;\;\;\;$ b. $y' = 1+ y/t + (y/t)^2, \; 1\leq t \leq 3, \; y(1)=0,$ with $h=0.2$; actual solution $y(t) = t\tan(\ln t)$.

In [12]:
y = lambda t: t*tan(np.log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':Huen(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000      0.000000
1   1.2              0.221180               0.221243      0.000063
2   1.4              0.489507               0.489682      0.000174
3   1.6              0.812406               0.812753      0.000347
4   1.8              1.198834               1.199439      0.000604
5   2.0              1.660295               1.661282      0.000986
6   2.2              2.211948               2.213502      0.001553
7   2.4              2.874149               2.876551      0.002402
8   2.6              3.674784               3.678475      0.003692
9   2.8              4.652974               4.658665      0.005691
10  3.0              5.865219               5.874100      0.008881

15\. Repeat Exercise 3 using the Runge-Kutta method of order four.

In [13]:
def runge_kutta_o4(a, b, N, alpha):
    h = (b-a)/N
    t = a
    w = alpha 
    solutions = [w]
    for i in range(N):
        t1 = t + h
        k1 = h*f(t, w)
        k2 = h*f(t + h/2, w + 1/2*k1)
        k3 = h*f(t + h/2, w + 1/2*k2)
        k4 = h*f(t1, w + k3)
        w = w + 1/6*(k1 + 2*k2 + 2*k3 + k4)
        t += h
        solutions.append(w)
    return solutions

$\;\;\;\;$ a. $y' = y/t - (y/t)^2, \; 1\leq t \leq 2, \; y(1)=1,$ with $h=0.1$; actual solution $y(t) = t/(1+\ln t)$.

In [14]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':runge_kutta_o4(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000  0.000000e+00
1   1.1              1.004282               1.004282  2.241466e-07
2   1.2              1.014952               1.014952  3.107595e-07
3   1.3              1.029813               1.029814  3.463688e-07
4   1.4              1.047534               1.047534  3.609858e-07
5   1.5              1.067262               1.067262  3.663818e-07
6   1.6              1.088432               1.088433  3.676109e-07
7   1.7              1.110655               1.110655  3.669897e-07
8   1.8              1.133653               1.133654  3.656274e-07
9   1.9              1.157228               1.157228  3.640677e-07
10  2.0              1.181232               1.181232  3.625765e-07

$\;\;\;\;$ b. $y' = 1+ y/t + (y/t)^2, \; 1\leq t \leq 3, \; y(1)=0,$ with $h=0.2$; actual solution $y(t) = t\tan(\ln t)$.

In [15]:
y = lambda t: t*tan(np.log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':runge_kutta_o4(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000  0.000000e+00
1   1.2              0.221246               0.221243  2.934531e-06
2   1.4              0.489684               0.489682  2.502692e-06
3   1.6              0.812752               0.812753  5.785375e-07
4   1.8              1.199432               1.199439  6.618687e-06
5   2.0              1.661265               1.661282  1.664027e-05
6   2.2              2.213469               2.213502  3.249690e-05
7   2.4              2.876494               2.876551  5.730545e-05
8   2.6              3.678379               3.678475  9.633475e-05
9   2.8              4.658506               4.658665  1.587746e-04
10  3.0              5.873839               5.874100  2.614084e-04

17\. Use the results of Exercise 3 and linear interpolation to approximate values of y(t) and compare the results to the actual values.

$\;\;\;\;$ a. $y(1.25)$ and $y(1.93)$

In [16]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':modifiedEuler(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = abs(table['y[t_i] (exact values)'] - table['w_i (approx. values)'])
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000      0.000000
1   1.1              1.004132               1.004282      0.000149
2   1.2              1.014714               1.014952      0.000239
3   1.3              1.029520               1.029814      0.000294
4   1.4              1.047204               1.047534      0.000330
5   1.5              1.066909               1.067262      0.000353
6   1.6              1.088064               1.088433      0.000369
7   1.7              1.110275               1.110655      0.000380
8   1.8              1.133266               1.133654      0.000388
9   1.9              1.156835               1.157228      0.000394
10  2.0              1.180834               1.181232      0.000398

In [17]:
print('approx. value of y(1.25) =', 1.014714 + (1.25-1.2)*((1.029520-1.014714)/(1.3-1.2)))
print('actual value of y(1.25) =', y(1.25))
print('actual error for y(1.25) =', abs(y(1.25)-(1.014714 + (1.25-1.2)*((1.029520-1.014714)/(1.3-1.2)))))

print('\napprox. value of y(1.93) =', 1.156835 + (1.93-1.9)*((1.180834-1.156835)/(2.0-1.9)))
print('actual value of y(1.93) =', y(1.93))
print('actual error for y(1.93) =', abs(y(1.93) - (1.156835 + (1.93-1.19)*((1.180834-1.156835)/(2.0-1.9)))))

approx. value of y(1.25) = 1.022117
actual value of y(1.25) = 1.0219569065764476
actual error for y(1.25) = 0.00016009342355238765

approx. value of y(1.93) = 1.1640347
actual value of y(1.93) = 1.1643901712218938
actual error for y(1.93) = 0.17003742877810524

$\;\;\;\;$ b. $y(2.1)$ and $y(2.75)$

In [18]:
y = lambda t: t*tan(log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':modifiedEuler(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = table['y[t_i] (exact values)'] - table['w_i (approx. values)']
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000      0.000000
1   1.2              0.219444               0.221243      0.001798
2   1.4              0.485049               0.489682      0.004632
3   1.6              0.804012               0.812753      0.008741
4   1.8              1.184856               1.199439      0.014583
5   2.0              1.638423               1.661282      0.022859
6   2.2              2.178877               2.213502      0.034625
7   2.4              2.825065               2.876551      0.051486
8   2.6              3.602525               3.678475      0.075951
9   2.8              4.546614               4.658665      0.112052
10  3.0              5.707570               5.874100      0.166530

In [19]:
print('approx. value of y(2.1) =', 1.638423+(2.1-2.0)*((2.178877-1.638423)/(2.2-2.0)))
print('exact value of y(2.1) =', y(2.1))
print('actual error for y(2.1) =', abs(y(2.1) - (1.638423+(2.1-2.0)*((2.178877-1.638423)/(2.2-2.0)))))

print('\napprox. value of y(2.75) =', 3.602525+(2.75-2.6)*(4.546614-3.602525)/(2.8-2.6))
print('exact value of y(2.75) =', y(2.75))
print('actual error for y(2.75) =', abs(y(2.75) - (3.602525+(2.75-2.6)*(4.546614-3.602525)/(2.8-2.6))))

approx. value of y(2.1) = 1.90865
exact value of y(2.1) = 1.9249616510197052
actual error for y(2.1) = 0.01631165101970522

approx. value of y(2.75) = 4.31059175
exact value of y(2.75) = 4.394169743196801
actual error for y(2.75) = 0.08357799319680037

19\. Repeat Exercise 17 using the results of Exercise 7.

$\;\;\;\;$ a. $y(1.25)$ and $y(1.93)$

In [20]:
y = lambda t: t/(1+log(t))      

def f(t, y):
    return y/t  - (y/t)**2

data = {'t_i':t_i(1, 0.1, 10),
        'w_i (approx. values)':midPoint(1, 2, 10, 1), 
       'y[t_i] (exact values)':actual(1, 0.1, 10)}
table = pd.DataFrame(data)
table['actual error'] = table['y[t_i] (exact values)'] - table['w_i (approx. values)']
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              1.000000               1.000000      0.000000
1   1.1              1.004535               1.004282     -0.000253
2   1.2              1.015326               1.014952     -0.000373
3   1.3              1.030247               1.029814     -0.000433
4   1.4              1.047998               1.047534     -0.000464
5   1.5              1.067743               1.067262     -0.000480
6   1.6              1.088921               1.088433     -0.000489
7   1.7              1.111148               1.110655     -0.000493
8   1.8              1.134148               1.133654     -0.000495
9   1.9              1.157724               1.157228     -0.000495
10  2.0              1.181727               1.181232     -0.000495

In [21]:
print('approx. value of y(1.25) =', 1.015326 + (1.25-1.2)*((1.030247-1.015326)/(1.3-1.2)))
print('actual value of y(1.25) =', y(1.25))
print('actual error for y(1.25) =', abs(y(1.25) - (1.015326 + (1.25-1.2)*((1.030247-1.015326)/(1.3-1.2)))))
print('\napprox. value of y(1.93) =', 1.157724 + (1.93-1.9)*((1.181727-1.157724)/(2.0-1.9)))
print('actual value of y(1.93) =', y(1.93))
print('actual error for y(1.93) =', abs(y(1.93) - (1.157724 + (1.93-1.9)*((1.181727-1.157724)/(2.0-1.9)))))

approx. value of y(1.25) = 1.0227865
actual value of y(1.25) = 1.0219569065764476
actual error for y(1.25) = 0.0008295934235524882

approx. value of y(1.93) = 1.1649249
actual value of y(1.93) = 1.1643901712218938
actual error for y(1.93) = 0.0005347287781061194

$\;\;\;\;$ b. $y(2.1)$ and $y(2.75)$

In [22]:
y = lambda t: t*tan(np.log(t))     

def f(t, y):
    return 1 + y/t  + (y/t)**2

data = {'t_i':t_i(1, 0.2, 10),
        'w_i (approx. values)':midPoint(1, 3, 10, 0), 
       'y[t_i] (exact values)':actual(1, 0.2, 10)}
table = pd.DataFrame(data)
table['actual error'] = table['y[t_i] (exact values)'] - table['w_i (approx. values)']
table

    t_i  w_i (approx. values)  y[t_i] (exact values)  actual error
0   1.0              0.000000               0.000000      0.000000
1   1.2              0.219835               0.221243      0.001408
2   1.4              0.486177               0.489682      0.003505
3   1.6              0.806185               0.812753      0.006568
4   1.8              1.188439               1.199439      0.010999
5   2.0              1.643889               1.661282      0.017393
6   2.2              2.186861               2.213502      0.026641
7   2.4              2.836436               2.876551      0.040116
8   2.6              3.618493               3.678475      0.059983
9   2.8              4.568894               4.658665      0.089771
10  3.0              5.738647               5.874100      0.135453

In [23]:
print('approx. value of y(2.1) =', 1.643889+(2.1-2.0)*((2.186861-1.643889)/(2.2-2.0)))
print('exact value of y(2.1) =', y(2.1))
print('actual error for y(2.1) =', abs(y(2.1) - (1.643889+(2.1-2.0)*((2.186861-1.643889)/(2.2-2.0)))))

print('\napprox. value of y(2.75) =', 3.618493+(2.75-2.6)*(4.568894-3.618493)/(2.8-2.6))
print('exact value of y(2.75) =', y(2.75))
print('actual error for y(2.75) =', abs(y(2.75) - (3.618493+(2.75-2.6)*(4.568894-3.618493)/(2.8-2.6))))

approx. value of y(2.1) = 1.915375
exact value of y(2.1) = 1.9249616510197052
actual error for y(2.1) = 0.009586651019705128

approx. value of y(2.75) = 4.33129375
exact value of y(2.75) = 4.394169743196801
actual error for y(2.75) = 0.06287599319680037

27\. The irreversible chemical reaction in which two molecules of solid potassium dichromate $(K_2Cr_2O_7)$, two molecules of water ($H_2O$), and three atoms of solid sulfur (S) combine to yield three molecules of the gas sulfur dioxide ($SO_2$), four molecules of solid potassium hydroxide (KOH), and two molecules of solid chromic oxide ($Cr_2O_3$) can be represented symbolically by the stoichiometric equation: $$2K_2Cr_2O_7 + 2H_2O + 3s \Longrightarrow 4KOH + 2Cr_2O_3 + 3SO_2,$$ If $n_1$ molecules of $K_2Cr_2O_7$, $n_2$ molecules of $H_2O$ and $n_3$ molecules of _S_ are originally available, the following differential question describes the amount $x(t)$ of KOH after time $t$: $$\frac{dx}{dt} = k(n_1 - \frac{x}{2})^2(n_2-\frac{x}{2})^2(n_3-\frac{3x}{4})^3,$$ where $k$ is the velocity constant of the reaction. If $k=6.22\times 10^{-19},\; n_1=n_2=2\times 10^3,$ and $n_3=3\times 10^3$, use the Runge-Kutta method of order four to determine how many units of potassium
hydroxide will have been formed after 0.2s.

$\;\;\;\;$_Sol._ $$\frac{dx}{dt} = 6.22\times 10^{-19}(2\times 10^3 - \frac{x}{2})^2(2\times 10^3-\frac{x}{2})^2(3\times 10^3-\frac{3x}{4})^3$$ Running the python code below and with 2100 as the initial unit at $t=0$, we find that approximately 2297 units of potassium hydroxide will have been formed after 0.2s.

In [24]:
def f(t, x):
    return 6.22*10**(-19)*((2000-x/2)**2)*((2000-x/2)**2)*((3000-3*x/4)**3)

runge_kutta_o4(0, 1, 5, 2100)[1]

2297.0813148877564

32\. The Runge-Kutta method of order four can be written in the form $$\begin{eqnarray} w_0 &=& \alpha, \\ w_{i+1} &=& w_i +\frac{h}{6}f(t_i, w_i) + \frac{h}{3}f(t_1+\alpha_1h, \; w_i+\delta_1hf(t_i,w_i))\\ &+& \frac{h}{3}f(t_i+\alpha_2h,\; w_i+\delta_2hf(t_i+\gamma_2h,\; w_i+\gamma_3hf(t_i, w_i))) \\ &+& \frac{h}{6}f(t_i+\alpha_3h,\; w_i+\delta_3hf(t_i+\gamma_4h,\; w_i+\gamma_5hf(t_i+\gamma_6h,\; w_i+\gamma_7h(t_i,w_i)))). \end{eqnarray}$$ Find the values of the constants $$\alpha_1,\alpha_2,\alpha_3,\delta_1,\delta_2,\delta_3,\gamma_2,\gamma_3,\gamma_4,\gamma_5,\gamma_6,\; \text{and } \gamma_7.$$

$\;\;\;\;$_Sol._ Given that $$w_0=\alpha \\ k_1 = h\dot f(t_i, w_i) \\ k_2 = h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_1) \\ k_3 = h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_2) \\ k_4 = h\dot f(t_i+h, w_i+k_3) \\ w_{i+1} = w_i + \frac{1}{6}[k_1+2k_2+2k_3+k_4]$$ for $i=0,1..., N-1$, we could simply the result to $$\begin{eqnarray} w_{i+1}&=& w_i+\Bigg[\frac{h\dot f(t_i, w_i)}{6} + \frac{h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_1)}{3} \\  &+& \frac{h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_2)}{3} + \frac{h\dot f(t_i+h, w_i+k_3)}{6}\Bigg].\end{eqnarray}$$

And furthermore, $$\begin{eqnarray} w_{i+1}&=&w_i+\Bigg[\frac{h\dot f(t_i, w_i)}{6}+\frac{h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f(t_i, w_i))}{3} \\ &+& \frac{h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_1))}{3} \\ &+& \frac{h\dot f(t_i+h, w_i+ h\dot f(t_i+\frac{h}{2}, w_i+\frac{1}{2}k_2))}{6}\Bigg] \\ &=&w_i+\frac{h}{6}\dot f(t_i, w_i)+\frac{h}{3}\dot f\Bigg(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f(t_i, w_i) \Bigg) \\ &+& \frac{h}{3}\dot f\Bigg(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f\Big(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f(t_i, w_i)\Big)\Bigg) \\ &+& \frac{h}{6}\dot f\Bigg(t_i+h, w_i+ h\dot f\Big(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f\big(t_i+\frac{h}{2}, w_i+\frac{1}{2}h\dot f(t_i, w_i)\big)\Big)\Bigg). \end{eqnarray}$$

Comparing the form above to the given results: $$\begin{eqnarray}w_{i+1} &=& w_i +\frac{h}{6}f(t_i, w_i) + \frac{h}{3}f(t_1+\alpha_1h, \; w_i+\delta_1hf(t_i,w_i))\\ &+& \frac{h}{3}f(t_i+\alpha_2h,\; w_i+\delta_2hf(t_i+\gamma_2h,\; w_i+\gamma_3hf(t_i, w_i))) \\ &+& \frac{h}{6}f(t_i+\alpha_3h,\; w_i+\delta_3hf(t_i+\gamma_4h,\; w_i+\gamma_5hf(t_i+\gamma_6h,\; w_i+\gamma_7h(t_i,w_i)))). \end{eqnarray}$$

We find that $$\alpha_1 = \frac{1}{2},\alpha_2 = \frac{1}{2},\alpha_3=1,\\ \delta_1=\frac{1}{2},\delta_2=\frac{1}{2},\delta_3=1, \\ \gamma_2=\frac{1}{2},\gamma_3=\frac{1}{2},\gamma_4=\frac{1}{2}, \\ \gamma_5=\frac{1}{2},\gamma_6=\frac{1}{2},\; \text{and } \gamma_7=\frac{1}{2}.$$